---
interface Props {
  href?: string;
  variant?: 'primary' | 'secondary';
  class?: string;
  mono?: boolean;
}

const {
  href,
  variant = 'secondary',
  class: className,
  mono = false,
  ...props
} = Astro.props as Props;

const classes = ['button', variant, mono && 'tech-label', className];
---

{
  href ? (
    <a class:list={classes} href={href} {...props}>
      <slot />
    </a>
  ) : (
    <button class:list={classes} type="button" {...props}>
      <slot />
    </button>
  )
}
